<h1 class="welcome">This is application for creating task list.</h1>
<h1 class="welcome">Write down all your important things there, so as not to forget.</h1>


<%= link_to tasks_path, class: "btn btn-welcome" do %>
    <div class="spinner"></div>
    <div class="text">Start</div>
<% end %>